.contact {
    padding: 80px 30px;
    text-align: center;
}

.contact-inner {
    max-width: 1200px;
    margin: 0 auto;
}

.contact-heading {
    margin-bottom: 30px;
}

.contact-heading h2 {
    text-align: center;
}

.contact-heading p {
    /* platzhalter */
}

.contact-box {
    padding: 30px;
    /* background: rgba(255, 255, 255, 0.04); */
    border-radius: 12px;
}

.contact-box p {
    /* platzhalter */
}

.contact-button {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 24px;
    background: rgb(244, 7, 7);
    color: white;
    border-radius: 8px;
}