.contact {
    padding: 80px 30px;
    text-align: center;
}

.contact-inner {
    max-width: 1200px;
    margin: 0 auto;
}

.contact-heading {
    margin-bottom: 30px;
}

.contact-heading h2 {
    text-align: center;
}



.contact-box {
    padding: 30px;
    border-radius: 12px;
}



.contact-button {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 24px;
    background: #d94a5b97;
    color: rgba(255, 255, 255, 0.853);
    border-radius: 5px;
    transition: 0.3s ease-in-out
}



.contact-button:hover {
    transform: scale(1.2);
}