.intro {
    padding: 100px 30px;
}

.intro .section-inner {

    margin: 0 auto;
}

.intro h2 {
    font-size: clamp(20px, 9vw, 110px);
    margin-bottom: 30px;
}

.intro p {
    font-size: clamp(18px, 9vw, 25px);
    line-height: 1.7;
    margin-bottom: 20px;
}





